new-tweet {
  margin:auto;
  margin-top: 35px;
  width: 70%;
  background-color: #eee;
}

.new-tweet button {
  color: #ffffff;
  background-color: #4056a1;
  font-family: Bungee;
  text-align: center;
  float: left;
  margin-left: 1em;
}

.new-tweet h3 {
  text-align: left;
  margin-left: 1em;
}

.new-tweet h6 {
  float: left;
}

.textArea {
  width: 95%;
  border: none;
  background: none;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
  border-bottom: 4px solid;
  font-weight: bold;
}

.counter {
  float: right;
  font-weight: bold;
  margin-right: 1.8em;
}

.error-message {
  padding-top: 1em;
  padding-left: 1em;
  font: lighter;
  color: red;
}
